.wrapper{
    width: 100%;
    display: flex;
    height: 93vh;
    
}
.leftImage , .contentWrapper{
    flex: 1;
    width: 100%;
}
p , span{
    }
.contentWrapper{
    padding: 10rem 4rem;
}
.leftImage img{
    object-fit: cover;
    width: inherit;
    border-bottom-right-radius: 5rem;
    height: 100%;
    width: 100%;
}
.contentWrapper .header{
    font-family: "Lato-medium", sans-serif;
    font-size: 7rem;
    line-height: 1;
    text-align: center;
}
.header:before {
    width: 10rem;
    height: 3px;
    background: #E9AD28;
    content: "";
    position: absolute;
    bottom: -5rem;
    left: 64%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.contentWrapper .about{
    font-size: 1.3rem;
    line-height: 1.5;
    color: #868e96;
    margin-top: 5rem;
}
.courses_button{
    padding: 14px 30px;
    color: #bd1220;
    border-color: #bd1220 !important;
    background-color: transparent !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
    /* vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    outline: none;
    transition: 0.4s;
}
.courses_button:hover{
    outline: none;
    color: #ffffff;
    border-color: #bd1220 !important;
    background-color: #bd1220 !important;
}
.courses_button:focus{
    outline: none;
}
@media screen and (max-width:768px) {
    .wrapper{
        display: block;
    }
    .contentWrapper{
        padding: 0.5rem;
    }
    .contentWrapper .header{
        font-size: 2rem;
        font-weight: 900;
        margin-top: 2rem;
        line-height: 1;
    }
    .contentWrapper .about{
        font-size: 1rem;
        color: gray;
        font-weight: 300;
        margin-top: 2rem;
    }
}