.wrapper{
    padding: 5rem;
}
@media screen and (max-width:768px) {
    .wrapper{
        padding: 3rem 0.5rem;
    }
}

.headerWrapper{
    position: relative;
    margin-bottom: 6rem;
}
.header{
    font-family: "Lato-medium", sans-serif;
    font-size: 7rem;
    line-height: 1;
    padding-top: 3rem    ;
    text-align: center;
}
.header:before {
    width: 10rem;
    height: 3px;
    background: #E9AD28;
    content: "";
    top: 1rem;
    position: absolute;
    left: 38.7%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.blogWrapper{
    flex-wrap: wrap;
}