
.contact_form {
  padding: 4rem 30px;
  width: 45%;
  margin: 5rem auto;
  background: #fff;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.1);
}
.wrapper{
  width: 100%;
}