.wrapper{
    width: 100%;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding: 2rem;
}
h2{
    color: #ffffff;

}

.itemWrapper img{
    width: 10rem;
    height: 10rem
} 
                
.paragraph , h4 ,h6{
    color: #ffffff;
   
}

.headerWrapper{
    position: relative;
    margin-bottom: 6rem;
}
.header{
    font-family: "Lato-medium", sans-serif;
    font-size: 7rem;
    line-height: 1;
    padding-top: 3rem    ;
    text-align: center;
    color: #ffffff;
}
.header:before {
    width: 10rem;
    height: 3px;
    background: #E9AD28;
    content: "";
    top: 1rem;
    position: absolute;
    left: 37%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}