
.blog_card_blog {
    margin-top: 30px;
    max-width: 25rem;
    margin: 3rem 1rem;
}
.blog_card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.blog_card .blog_card_image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog_card .blog_card_image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.blog_card .blog_table {
    padding: 15px 30px;
}
.blog_table {
    margin-bottom: 0px;
}
.blog_category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.blog_text_success {
    color: #28a745!important;
    
}
.blog_card_blog .blog_card_caption {
    margin: 2rem 0;
}
.blog_card_caption {
    font-weight: 700;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.blog_card_caption, .blog_card_caption a {
    color: #333;
    text-decoration: none;
}

.blog_card .ftr {
    margin-top: 15px;
}
.blog_card .ftr .author {
    color: #888;
}

.blog_card .ftr div {
    display: inline-block;
}
.blog_card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.blog_card_description{
    margin-bottom: 2rem;
}
.blog_card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
    
}
.blog_card .ftr .stats {
    float: right;
    line-height: 30px;
}